%html
  %head
    %title Langbar
  %body
    %form(method='post' action='generate' target='new')
      User:
      %input(type='text' name='user')
      Repository:
      %input(type='text' name='repo')
      %input(type='submit' value='Generate Langbar')
